
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb-tree">
          <li><a href="#">Home</a></li>
          <li><a href="#">All Categories</a></li>
          <li><a href="/category/{{product?.category}}">{{product?.category}}</a></li>
          <li class="active">{{ product?.name }}</li>
        </ul>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-7 carousel-container">
        <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
          <!-- slides -->
          <div class="carousel-inner">
            <ng-container *ngIf="thumbimages.length == 0">
              <div class="carousel-item active"> <img [src]="image" alt="{{product?.name}}"> </div>
            </ng-container>
            <ng-container *ngIf="thumbimages.length > 0">
              <div class="carousel-item" *ngFor="let t of thumbimages, let i = index" [class.active]="i == 0"> <img [src]="t" alt=""> </div>

            </ng-container>
          </div> <!-- Left right --> <a class="carousel-control-prev" href="#custCarousel" data-slide="prev"> <span class="carousel-control-prev-icon"></span> </a> <a class="carousel-control-next" href="#custCarousel" data-slide="next"> <span class="carousel-control-next-icon"></span> </a> <!-- Thumbnails -->
          <ol class="carousel-indicators list-inline">
            <ng-container *ngIf="thumbimages.length == 0">
              <li class="list-inline-item active"> <a class="selected" data-slide-to="0" data-target="#custCarousel"> <img [src]="image" alt="" class="img-fluid"> </a> </li>
            </ng-container>
            <ng-container *ngIf="thumbimages.length > 0">
              <li class="list-inline-item " *ngFor="let t of thumbimages, let i = index" [class.active]="i == 0"> <a class="selected" [attr.data-slide-to]="i" data-target="#custCarousel"> <img [src]="t" class="img-fluid"> </a> </li>
            </ng-container>
          </ol>
        </div>
      </div>



      <!-- Product details -->
      <div class="col-md-5" *ngIf="product">
        <div class="product-details">
          <h2 class="product-name">{{ product.name }}</h2>
          <div>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <a class="review-link" href="#">10 Review(s) | Add your review</a>
          </div>
          <div>
            <h3 class="product-price">{{product.price | currency: 'EUR'}}</h3>
            <span class="product-available" *ngIf="product.quantity != 0">In Stock</span>
            <span class="product-available" *ngIf="product.quantity == 0">Not Available</span>
          </div>
          <p>{{ product.description }}</p>

          <div class="add-to-cart" *ngIf="product.quantity>0">
            <div class="qty-label">
              Qty
              <div class="input-number">

                <input id="qty-input" type="number"
                       [max]="product.quantity"
                       min="1"
                       [value]="1" readonly
                        #quantity>
                <span class="qty-up" (click)="Increase()">+</span>
                <span class="qty-down" (click)="Decrease()">-</span>
              </div>
            </div>
            <button class="add-to-cart-btn" (click)="addToCart(product.id)"><i class="fa fa-shopping-cart"></i> add to cart</button>
            <p class="my-2" style="color: gray">{{ product.quantity}} left.</p>
          </div>
          <div class="my-4 ">
            <span class="product-available" *ngIf="product.quantity == 0">Currently not Available</span>
          </div>


          <ul class="product-links">
            <li>Category:</li>
            <li><a routerLink="/category/{{product.category}}">{{ product.category }}</a></li>

          </ul>

          <ul class="product-links">
            <li>Share:</li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
          </ul>

        </div>
      </div>
      <!-- /Product details -->

    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<div class="container my-5 t text-center text-uppercase" *ngIf="!product">
  <p style="font-size: 2em">Kein gültiges Produkt!</p>
  <button class="primary-btn cta-btn" routerLink="/">BACK TO THE SHOP</button>
</div>
